.MenuItemContainer {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 20px 0;
}

.MenuItemTitle {
    display: flex;
    /* column-gap: 1em; */
    justify-content: center;
}

.MenuItemTitle > div {
    margin-right: 1em;
}

.MenuItemDescription {
    font-weight: lighter;
    font-size: small;
}