.MenuItemsBox {
    background: rgba(50, 50, 50, 0.7);
    padding: 20px;
    margin: 20px;
}

.MenuItemTitle {
    display: flex;
    font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 30px;
    justify-content: center;
}

.MenuItemTitleIcon {
    margin-top: 3px;
    margin-left: 15px;
}