.HomeContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* background-color: #0F0F0F; */
    background-image: url("../../assets/images/HomeBg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.SpaceFilling {
    height: 20vh;
    /* border: 5px red solid; */
}

.ButtonsDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.Button {
    padding: 20px;
    width: 200px;
    font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
}