.Container {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px;
    padding: 15px 10px;
}

.Title {
    text-transform: uppercase;
    font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.Table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5em 1em;
}

.HeaderField {
    text-transform: uppercase;
    color: rgb(0, 153, 255);
}

.ItemNameContainer {
    padding: 5px 10px 5px 5px;
    text-align: start;
}

.ItemName {
    text-transform: uppercase;
    color: rgb(0, 153, 255);
    font-weight: bold;
    margin-bottom: 5px;
}

.ItemDescription {
    font-size: 0.8em;
}

.OnlyItemName {
    text-transform: uppercase;
}