.BarMenuContainer {
    background-color: rgba(0, 0, 0, 0.85);
}

.BarMenuTitle {
    font-family: 'Orbitron' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #DAA202;
}