.bg2, .bg3, .bg4, .bg5, .bg6, .black {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    min-height: 100vh;
}

.bg2 {
    background-image: url("./assets/images/bg2.jpg");
}

.bg3 {
    background-image: url("./assets/images/bg3.jpg");
}

.bg4 {
    background-image: url("./assets/images/bg4.jpg");
}

.bg5 {
    background-image: url("./assets/images/bg5.jpg");
}

.bg6 {
    background-image: url("./assets/images/bg6.jpg");
}

.black {
    background-color: black;
}

.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 70px);
}