.bg1, .bg2, .bg3, .bg4, .bg5, .black {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    min-height: 100vh;
}

.bg1 {
    background-image: url("./assets/images/bg1.jpg");
}

.bg2 {
    background-image: url("./assets/images/bg2.jpg");
}

.bg3 {
    background-image: url("./assets/images/bg3.jpg");
}

.bg4 {
    background-image: url("./assets/images/bg4.jpg");
}

.bg5 {
    background-image: url("./assets/images/bg5.jpg");
}

.black {
    background-color: black;
}